#button {
    -fx-background-color: #3c4043;
    -fx-background-radius: 0;
}
#button:hover {
    -fx-background-color: #4f5356;
}
#button:pressed {
    -fx-background-color: #606467;
}
#button-bright {
    -fx-background-color: #5f6267;
    -fx-background-radius: 0;
}
#button-bright:hover {
    -fx-background-color: #6f7277;
}
#button-bright:pressed {
    -fx-background-color: #7d8085;
}
#button-blue {
    -fx-background-color: #4286f5;
    -fx-background-radius: 0;
}
#button-blue:hover {
    -fx-background-color: #3f7ee8;
}
#button-blue:pressed {
    -fx-background-color: #3c77db;
}
